<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Muse Application</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #6038bc;">
 <div class="login">
	<h1>Muse RGB Classification App</h1>

     <!-- Main Input For Receiving Query to our ML -->
         <form action="{{ url_for('stream')}}"method="post">
        <button type="submit" class="btn btn-primary btn-block btn-large">Start Streaming</button>

    </form>
    <form action="{{ url_for('predict')}}"method="post">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Color</button>
    </form>


   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
